body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    position: relative; /* Important for z-index to work */
    z-index: 10; /* Set a higher value as needed */
    border-radius: unset;
  }

  .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 0px;
  }

  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #5b6f84;
    color: white;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
  }

  .login-button:hover {
    background-color: #45a049;
  }
  #errormes{
    color:rgb(176, 8, 8);
  }