<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="child">ChildNode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="parent">parentNode</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="usercard">usercardchild</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="userlist">userlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="productlist">productlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="cart">cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="product">product</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>