<table>
    <tr>
      <th>ID</th>
      <th>Todo</th>
      <th>completed</th>
      <th id="edit">Edit</th>
      <th id="Del">Delete</th>
    </tr>
    <tr *ngFor="let todo of todoData" >
      <td > {{todo.id}}</td>
      <td > {{todo.todo}}</td>
      <td > {{todo.completed}}</td>
<div class="d-flex gap-2">
<button id="edit" class="btn btn-primary" (click)="onEdit()">Edit</button>
<button id="del" class="btn btn-danger" (click)="onDelete(todo)">Delete</button>
</div>

 </tr>
 </table>

 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        This is a Bootstrap modal message.
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>
